body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f2f1f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#chat-container {
    width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    height: 500px;
}

#chat-box {
    flex: 1;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#input-msg {
    padding: 10px;
    flex: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 70px);
}

#send-btn {
    padding: 10px;
    margin-left: 5px;
    background-color: #D63384;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
